{% extends "loggedin.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/feed.css">
{% if profile %}
<title>{{profile}}'s Page</title>
{% else %}
<title>{{pagename}}</title>
{% endif %}
{% endblock %}



{% block body %}


{% if profile %}
<h1 class="text-center">{{ profile }}'s Profile</h1>
<hr></hr>
{% endif %}

<!-- posts -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="container-fluid" id="thePosts">
      {% for post in posts %}
      <img class="img-responsive" src={{ post['photo_link'] }}; alt="I tried"><br>
      by <a href="/profile/{{post['author']}}">{{ post['author'] }}</a> on {{ post['upload_date'] }}<br>
      {% if "spotify:track" in post['caption'] %}
      {{ post['caption']|safe }}
      {% else %}
      <i>{{ post['caption'] }}</i><br>
      {% endif %}
      {% if ownprofile %}
      <form action="delete" method="POST">
	<input name="postid" type="hidden" value="{{ post['post_id']}}"/>
	<input class="btn" type="submit" value="Delete Post"/>
      </form>
      {% endif %}
      <hr>
      <br><br>	  
      {% endfor %}
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- end of posts-->

<!-- modal stuff for upload button "popup" -->
<!-- everything related to modal is code written by w3schools -->
<!-- http://www.w3schools.com/howto/howto_css_modals.asp -->

<div id="myModal" class="modal">
  
  <div class="modal-content">
    <span class="close">&times;</span>
    <br>
    <div id="file-things">
      <br>
      <label class="btn-default btn">
	<span id="file-label">Browse</span>
	<input class="file" id="noot" name="files[]" type="file" style="display: none;" accept="image/*"/>
      </label>
      <br><br>
      <img id="thatimage" class="img-responsive">

    </div>
    <br>
    <form action="/upload" method="POST" id="datform">
      <input id="lul" name="sneaky" type="hidden" value=""/>
    </form>
  </div>
  <script src="/static/js/upload.js"></script>
  
</div> <!-- end of myModal div -->

<div class="row">
  <div id="loading-container">
    <div id="loading">
      <img src="/static/img/loading.gif" alt="Loading...">
    </div>
    <div id="profileLabel">{% if profile %}{{ profile }}{% endif %}</div>
  </div>
</div>

<script src="/static/js/infinitescroll.js"></script>

{% endblock %}
