{% extends "loggedin.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/upload.css">
{% if profile %}
<title>{{profile}}'s Page</title>
{% else %}
<title>{{pagename}}</title>
{% endif %}
{% endblock %}


  
{% block body %}

<div class="container-fluid">

{% if profile %}
  <h1 class="text-center">{{ profile }}'s Profile</h1>
  <hr></hr>
  {% endif %}
  
  <!-- posts -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% for post in posts %}
      <img class="img-responsive" src={{ post['photo_link'] }}; alt="I tried"><br>
      by <a href="/profile/{{post['author']}}">{{ post['author'] }}</a> on {{ post['upload_date'] }}<br>
      <i>{{ post['caption'] }}<i><br>

	  <br><br>
	  {% endfor %}
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if not profile %}
      <a href="/page/{{ lastPage }}">{{ lastPage }}</a>
      <a href="/page/{{ nextPage }}">{{ nextPage }}</a>
      {% else %}
      <a href="/{{profile}}/{{ lastPage }}">{{ lastPage }}</a>
      <a href="/{{profile}}/{{ nextPage }}">{{ nextPage }}</a>
      {% endif %}
    </div>
  </div>

  <!-- end of posts-->
  
  <!-- modal stuff for upload button "popup" -->
  <!-- everything related to modal is code written by w3schools -->
  
  <div id="myModal" class="modal">
    
    <div class="modal-content">
      
      <span class="close">&times;</span>
      <br>
      <div id="file-things">
	<label class="btn-default btn">
	  <span id="file-label">Browse</span>
	  <input class="file" id="noot" name="files[]" type="file" style="display: none;" accept="image/*"/>
	</label>
	<br>
	<img id="thatimage" class="img-responsive">
      </div>
      <br>
      <form action="/upload" method="POST" id="datform">
	<input id="lul" name="sneaky" type="hidden" value=""/>
      </form>
      <script src="/static/js/upload.js"></script>
    </div>

    <!-- end of modal stuff -->
  </div>
  
</div>
</div>
{% endblock %}
