{% extends "master.html" %}

{% block body %}

<div class="container-fluid">
  
  <div class="row">
    <!--<div class="col-md-3"></div>-->
    <div class="col-md-6">
      {% for post in posts %}
      <img class="img-responsive" src={{ post['photo_link'] }}; alt="I tried"><br>
      by {{ post['author'] }} on {{ post['upload_date'] }}<br>
      <i>{{ post['caption'] }}<i><br>

      <br><br>
      {% endfor %}
    </div>
    <!--<div class="col-md-3"></div>-->
  </div>

  <!-- for the page numbers -->
  <div class="row">
    <div class="col-md-12">
      {{ lastPage }}
      {{ nextPage }}
    </div>
  </div>


  
</div>
{% endblock %}
