<! DOCTYPE html>
<head>
  <title>Pic of the Day</title>
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/css/landing.css">
  <link href="//fonts.googleapis.com/css?family=Sofia" rel="stylesheet">

</head>

<body>
  <div class="overlay">
  </div>
  <div class="row">  
    <div class="container-fluid" id="content">
      <h1 id="name">
	Pic of the Day
      </h1>
      <p>
	A photo-sharing platform for those who understand that less is more.
      </p>
      <label class="button">
	<a href="/logreg">Embark on your photo journey</a>
      </label>
    </div>
  </div>

</body>
