<html>
  <head>
    <title>Pingu</title>
    <script src="/static/js/nootnoot.js" type="text/javascript"></script>
  </head>
  <body>
    <input id="noot" name="files[]" type="file" value="" style="display: block;"/>
    <br>

    <button onclick="printPhoto()">Load File</button>
    <div id="check">Wait</div>
    <form action="/" method="POST">
      <input id="lul" name="sneaky" type="hidden" value=""/>
      <input name="submit" type="submit" value="Submit Photo"/>
    </form>
    <br>
    <form action="/spootify" method="POST">
      <input name="query" type="text" value="" placeholder="Search Spotify"/>
      <input name="submit" type="submit" value="Search"/>
    </form>
  </body>
</html>
